body {
    background: #f8f9fa;
}

.hero-section {
    min-height: 67vh;
    background: linear-gradient(rgba(44,62,80,0.7), rgba(44,62,80,0.7)), url('assets/roel-dierckens-LzGjfk1SeDw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 0px 0px 90px 0px 
}

.navbar-brand img {
    border-radius: 50%;
    padding: 4px;
    width: 44px;
    height: 44px;
    object-fit: contain;
}

a.link-light {
    color: #fff;
    text-decoration: underline;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(200 106 6) !important;
}
