body {
    background: #f8f9fa;
}

.hero-section {
    min-height: 67vh;
    background: linear-gradient(rgba(44,62,80,0.7), rgba(44,62,80,0.7)), url('assets/roel-dierckens-LzGjfk1SeDw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0px 90px 0px 
}

.navbar-brand img {
    border-radius: 50%;
    padding: 4px;
    width: 44px;
    height: 44px;
    object-fit: contain;
}

/* Force navbar to be fixed at the top */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
}

body {
    padding-top: 56px; /* Adjust if navbar height is different */
}

a.link-light {
    color: #fff;
    text-decoration: underline;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(200 106 6) !important;
}

.border-primary {
    border-color: rgb(200 106 6) !important;
}




/* Only style links inside <main> with the orange color */
main a, main a:link, main a:visited {
    color: rgb(200, 106, 6);
    text-decoration: none !important;
}
main a:hover, main a:active {
    color: #b35a00;
}

.btn-primary {
    background-color: rgb(200, 106, 6) !important;
    border-color: rgb(200, 106, 6) !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: #b35a00 !important;
    border-color: #b35a00 !important;
    color: #fff !important;
}


